@page "/orderitems/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Order Items</h3>

<hr />
<br />

<FormComponent ButtonText="Create OrderItem" orderitem="orderitem" OnValidSubmit="@CreateOrderItem" />

@code {
    OrderItem orderitem = new OrderItem();

    private IList<Order> Orders;
    private IList<Medication> Medications;

    protected async override Task OnInitializedAsync()
    {
        Orders = await _client.GetFromJsonAsync<List<Order>>($"{Endpoints.OrdersEndpoint}");
        Medications = await _client.GetFromJsonAsync<List<Medication>>($"{Endpoints.MedicationsEndpoint}");
    }

    private async Task CreateOrderItem()
    {
        await _client.PostAsJsonAsync(Endpoints.OrderItemEndpoint, orderitem);
        _navManager.NavigateTo("/orderitems/");
    }
}
